@font-face {
    font-family: "Montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    font-weight: 400;
}
/*
#1b211b  black
#e9e9e9   white for text
*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#welcome_button{
    height: 100px;
    width: 600px;
    font-size: 50px;
    background-color: #0b0c0b;
    color: #e9e9e9;
    border-radius: 0;
    border:3px solid black;
    font-weight: 300;
    transition: 500ms;
}
#welcome_button:hover{
    border:3px solid black;
    background-color: #ffffff;
    color: #313131;
    cursor: pointer;
    
}


.center_button{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center_button:hover{
color: white;
}

.welcome_word{
    transition: 500ms;
}
.welcome_name{
    text-align: right;
    transition: 500ms;
}

#left-side{
    background-color: white;
}